node_modules/
dist/
release/
build_temp/
backend-dist/
__pycache__/
*.pyc
*.pyo
*.spec
*.exe
*.zip
*.db
*.db.zip
idic_config.json
idic_cache.json
idic_history.json
idic_models.json
idic_proxy.json
.trae/
